# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.antigravity/
.gemini/

# Project
.agent/to_shizuku_*.md
.agent/to_kaede_*.md
build/
*.txt
!CMakeLists.txt
*.exe
*.obj
*.pdb
*.lib
.vs/
.vscode/
out/
bin/
log/